@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .esn-logo {
    border-radius: 2rem;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #esn {
    padding: 4vh 5%; /* Reduced horizontal padding for smaller screens */
  }
  .esn-logo {
    width: 100%; /* Full width for better visibility on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
  .esn-evolution,
  .evolution-description {
    padding: 0 2%; /* Add padding for text and sub-sections */
  }
  .subtitle {
    font-size: 2rem; /* Slightly smaller font size for subtitles */
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  #esn {
    padding: 20px 5%; /* More consistent padding in very small devices */
  }
  .subtitle {
    font-size: 1.5rem; /* Smaller font size for compact display */
  }
  .evolution-description {
    font-size: 1rem; /* Smaller text to fit compact screens */
    padding: 0 5%; /* Increased padding to avoid text crowding the edges */
  }
  .esn-logo {
    height: auto; /* Ensuring the logo maintains its aspect ratio */
    margin-bottom: 10px; /* Less margin to save space */
  }
}
