@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* General configurations */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #024b84;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
nav {
  display: flex;
}
a i {
  font-size: 30px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}
nav a:hover {
  color: #b4b4b8;
}
body {
  background-color: #c7c8cc;
}

/* homepage */
.carousel-item {
  position: relative; /* Ensure the .carousel-item is positioned relatively */
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.carousel-caption {
  position: absolute;
  top: 300px;
}

.carousel-caption h5,
.carousel-caption p {
  color: white;
  font-size: 50px;
}
.carousel-item img {
  height: 883px;
  object-fit: cover;
}

.blue-text {
  color: #0e69ae;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.blue-text-subject {
  text-shadow: none;
  color: #0e69ae;
}

/* about me section  */
#aboutme {
  display: flex;
  box-sizing: border-box;
  margin: 100px;
  padding-top: 120px;
}
.aboutme-image {
}
.aboutme-image img {
  width: 430px;
}
.aboutmetext {
  text-align: center;
  padding-top: 60px;
  width: 100%;
  line-height: 1.8;
}
.aboutmetext h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* Buttons */
.buttonprofile {
  background-color: #0e69ae;
  color: white;
  padding: 15px;
  font-size: 15px;
  border-radius: 35px;
  border: none;
  transition: all 200ms;
}

.buttonprofile:hover {
  background-color: #c7c8cc;
  cursor: pointer;
  color: black;
}
#contactbutton {
  background-color: white;
  border: 2px solid #024b84;
  color: #024b84;
  box-shadow: none;
}
#contactbutton:hover {
  background-color: gray;
  color: white;
  border: none;
}

/* Projects */
.projects {
  margin-top: 50px;
  padding-top: 80px;
}
.projects #title {
  text-align: center;
}
.project1 {
  margin-top: 100px;
}
.project1 h3,
.project2 h3 {
  text-align: center;
}
.project2 {
  padding-top: 70px;
}

.project-content {
  display: flex;
}
.project-content img {
  width: 50%;
  box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 20px;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.project-content img:hover {
  transform: translateY(-15px);
}
.project-text-content {
  margin: 60px;
  padding: 15px 5px 0px 5px;
  background-color: #fff7d0;
  border-left: 20px solid #e7c000;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
.project-text-content:hover {
  transform: translateY(-15px);
}
.project-text-content p {
  text-align: left;
}

/* more projects  */
article {
  margin: 20px;
  margin-top: 160px;
}
article h2,
p {
  text-align: center;
}
.card-body {
  background-color: #024b84;
}
.card-title {
  color: #fff;
  font-size: 26px;
}
.card-text {
  color: #fff;
  text-align: left;
}

/* contact */
.contact {
  margin-top: 200px;
  margin-bottom: 100px;
}
.contact h1,
p {
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.social i {
  font-size: 40px;
  color: #024b84;
  transition: transform 0.3s ease;
}
.social i:hover {
  color: #b4b4b8;
  transform: translateY(-15px);
}

@media (max-width: 414px) {
  #aboutme img {
    width: 100%;
  }
  #contactbutton {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  header {
    display: block;
  }
  header picture {
    display: none;
  }
  #aboutme {
    display: block;
  }
  /* Projects */
  .projects {
    margin-top: 50px;
    padding-top: 80px;
  }
  .projects #title {
    text-align: center;
  }
  .project1 {
    margin-top: 100px;
  }
  .project1 h3,
  .project2 h3 {
    text-align: center;
  }
  .project2 {
    padding-top: 70px;
  }

  .project-content {
    display: block;
  }
  .project-content img {
    width: 80%;
    margin-left: 50px;
  }
  .project-text-content {
    margin: 60px;
    padding: 15px 5px 0px 5px;
    background-color: #c7c8cc;
    border: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
  }
  .project-text-content p {
    text-align: left;
  }
}
@media (max-width: 768px) {
  #aboutme {
    display: block;
  }
  #aboutme img {
    display: flex;
  }
  /* Projects */
  .projects {
    margin-top: 50px;
    padding-top: 80px;
  }
  .projects #title {
    text-align: center;
  }
  .project1 {
    margin-top: 100px;
  }
  .project1 h3,
  .project2 h3 {
    text-align: center;
  }
  .project2 {
    padding-top: 70px;
  }

  .project-content {
    display: block;
  }
  .project-content img {
    width: 80%;
    margin-left: 70px;
  }
  .project-text-content {
    margin: 60px;
    padding: 15px 5px 0px 5px;
    background-color: #c7c8cc;
    border: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
  }
  .project-text-content p {
    text-align: left;
  }
}
@media (max-width: 992px) {
  #aboutme img {
    object-fit: contain;
  }
}
