@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

/* General configurations */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #024b84;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
nav {
  display: flex;
}
a i {
  font-size: 30px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}
nav a:hover {
  color: #b4b4b8;
}
body {
  background-color: #c7c8cc;
}

/* homepage */
.carousel-item {
  position: relative; /* Ensure the .carousel-item is positioned relatively */
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.carousel-caption {
  position: absolute;
  top: 300px;
}

.carousel-caption h5,
.carousel-caption p {
  color: white;
  font-size: 50px;
}
.carousel-item img {
  height: 883px;
  object-fit: cover;
}

.blue-text {
  color: #0e69ae;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
}
